/* App container */
.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Title styles */
h1 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.368);
  min-width: 100%;
  margin: 0;
  margin-bottom: 50px;
}

/* Content container */
.Content {
  text-align: center; 
}


body, html, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.spline-viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1; /* Ensures your content stays above the background */
}
